:root {
	font-family: "Freeman", sans-serif;

	--color-main: #082f49;
	--color-main-light: #0369a1;
	--color-text: #f0f9ff;
	--color-x: #f43f5e;
	--color-o: #f59e0b;

	background-color: var(--color-main);
	color: var(--color-text);
}

/* -------------------------------------------------- */
/* GLOABAL RESET */
* {
	font-family: "Freeman", sans-serif;

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* -------------------------------------------------- */
/* GENERAL ELEMENTS STYELS */
h1 {
	font-size: 5rem;
}

body {
	width: 100vw;
}

/* -------------------------------------------------- */
/* MAIN MENU STYLES */
.main-menu {
	width: 100%;
	height: clamp(100%, 100vh, 200vh);
	font-size: 2.4rem;
	background-color: var(--color-main);

	padding-top: 4rem;

	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;

	z-index: 1000;

	transition: all 0.5s;
}

#first-to {
	font-size: 1.2rem;
	text-align: center;
	color: var(--color-text);
	background-color: var(--color-main-light);

	border: none;
	border-radius: 2rem;

	padding: 1rem 2rem;

	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: "";

	justify-self: center;
}

#first-to:focus-visible {
	outline: none;
}

.player-choices {
	display: flex;
	gap: 12rem;
}

.choose-player {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
}

.player-chosen,
.bot-chosen {
	text-decoration: underline;

	padding: 1rem 2rem;

	cursor: pointer;

	transition: all 0.3s;
}

.player-chosen:hover {
	text-decoration: none;
	background-color: var(--color-x);

	padding: 1rem 2rem;

	border: none;
	border-radius: 4rem;
}

.player-chosen-active {
	text-decoration: none;
	background-color: var(--color-x);

	padding: 1rem 2rem;

	border: none;
	border-radius: 4rem;
}

.bot-chosen:hover {
	text-decoration: none;
	background-color: var(--color-o);

	padding: 1rem 2rem;

	border: none;
	border-radius: 4rem;
}

.bot-chosen-active {
	text-decoration: none;
	background-color: var(--color-o);

	padding: 1rem 2rem;

	border: none;
	border-radius: 4rem;
}

.choice1 {
	justify-self: end;
}

.choice2 {
	justify-self: start;
}

.player-and-bot {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 4rem;
	justify-items: center;
}

.player-name,
.bot-difficulties {
	grid-column: 1 / -1;
}

.name-input {
	font-size: 2rem;

	padding: 0.5rem 1rem;
	border-radius: 2rem;
}

.name-input:focus-visible {
	outline: 1px solid var(--color-main);
	outline-offset: -6px;
}

.bot-difficulties {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.easy,
.hard,
.unbeatable {
	text-decoration: underline;

	padding: 0.5rem 1rem;
	border-radius: 2rem;

	cursor: pointer;

	transition: all 0.2s;
}

.easy:hover,
.easy-selected {
	text-decoration: none;
	color: var(--color-main);
	background-color: #bef264;
}

.hard:hover,
.hard-selected {
	text-decoration: none;
	color: var(--color-main);
	background-color: #fcd34d;
}

.unbeatable:hover,
.unbeatable-selected {
	text-decoration: none;
	color: var(--color-main);
	background-color: #f87171;
}

.play {
	font-size: 3.2rem;

	padding: 1rem 2rem;

	border: none;
	border-radius: 3rem;

	transition: all 0.2s;
}

.play:hover {
	background-color: var(--color-main-light);
	color: var(--color-text);

	transform: translateY(-2px);
}

.play:active {
	transform: translateY(1px);
}

/* -------------------------------------------------- */
/* GAME ENDING STYLES */
.game-end {
	font-size: 4rem;

	width: 100%;
	height: clamp(100%, 100vh, 200vh);
	backdrop-filter: blur(10px);

	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	transition: all 1s;
}

/* -------------------------------------------------- */
/* MAIN CONTAINER */
.container {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 4rem;
}

/* -------------------------------------------------- */
/* HEADER STYLES */
.header {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
}

.x-goes-first {
	justify-self: center;
	grid-column: 1 / -1;
}

.remember {
	color: var(--color-x);
}

/* -------------------------------------------------- */
/* BOARD AND PLAYERS STYLES */
.game-display {
	align-self: center;

	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	row-gap: 2rem;
}

/* PLAYERS */
.player-info {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	row-gap: 4rem;
}

.player1 {
	justify-self: end;
}

.player1 .player-title .display-name {
	background-color: var(--color-x);
}

.player2 .player-title .display-name {
	background-color: var(--color-o);
}

.player2 {
	justify-self: start;
}

.player-selection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.player {
	padding: 0.8rem 1.6rem;
	border-radius: 2rem;

	text-decoration: underline;

	transition: all 0.2s;
}

.player:hover {
	background-color: var(--color-x);

	text-decoration: none;
	box-shadow: 0 2px 4px #777;

	transform: translateY(-2px);
}

.player:active {
	transform: translateY(1px);

	box-shadow: 0 1px 2px #777;
}

.player-active {
	background-color: var(--color-x);
	padding: 0.8rem 1.6rem;
	border-radius: 2rem;

	text-decoration: none;
}

.bot {
	padding: 0.8rem 1.6rem;
	border-radius: 2rem;

	text-decoration: underline;

	transition: all 0.2s;
}

.bot:hover {
	background-color: var(--color-o);

	text-decoration: none;
	box-shadow: 0 2px 4px #777;

	transform: translateY(-2px);
}

.bot:active {
	transform: translateY(1px);

	box-shadow: 0 1px 2px #777;
}

.bot-active {
	background-color: var(--color-o);
	padding: 0.8rem 1.6rem;
	border-radius: 2rem;

	text-decoration: none;
}

.player-title {
	font-size: 3.2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.player-score {
	font-size: 1.2rem;

	display: flex;
	align-items: center;
	gap: 1rem;
}

.display-name {
	color: var(--color-text);
	font-size: 1.2rem;

	padding: 0.4rem 0.8rem;

	border: none;
	border-radius: 2rem;

	transition: all 0.2s;
}

.display-name:hover {
	transform: translateY(-2px);
}

.display-name:active {
	transform: translateY(1px);
}

.whose-turn {
	font-size: 2rem;

	grid-column: 1 / -1;
	justify-self: center;

	display: flex;
	align-items: baseline;
	gap: 0.5rem;
}

.player-turn-x::after {
	content: "X";
	font-size: 4rem;
	color: var(--color-x);
}

.player-turn-o::after {
	content: "O";
	font-size: 4rem;
	color: var(--color-o);
}

/* GAME BOARD */
.game-board {
	aspect-ratio: 1 / 1;

	justify-self: center;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
}

.board-cell {
	font-size: 5rem;
	/* width: 8rem; */
	height: 8rem;
	aspect-ratio: 1 / 1;

	border: 1px solid var(--color-text);
	border-radius: 1rem;
	box-shadow: 0 0 15px #111;

	justify-self: center;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* BOARD MARKERS */
.turn-x:hover {
	color: var(--color-text);
	background-color: var(--color-x);
	opacity: 0.5;
}
.marker-x {
	background-color: var(--color-x);
}
.marker-x::after {
	content: "X";
}

.marker-o {
	background-color: var(--color-o);
}
.marker-o::after {
	content: "O";
}

.turn-x:hover::after {
	content: "X";
}
.turn-o:hover {
	color: var(--color-text);
	background-color: var(--color-o);
	opacity: 0.5;
}
.turn-o:hover::after {
	content: "O";
}

/* -------------------------------------------------- */
/* FOOTER STYLES */
.game-control {
	padding-bottom: 3rem;

	align-self: center;
	justify-self: center;

	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
	row-gap: 2rem;
}

.game-control button {
	font-size: 1.2rem;
	color: var(--color-main);

	padding: 1rem 2rem;
	border-radius: 2rem;

	border: none;

	transition: all 0.2s;
}

.game-control button:hover {
	transform: translateY(-2px);

	box-shadow: 0 2px 4px #777;
}

.game-control button:active {
	transform: translateY(1px);

	box-shadow: 0 1px 2px #777;
}

.restart-round {
	background-color: #bae6fd;
}

.restart-round:active {
	background-color: #38bdf8;
}

.reset-game {
	background-color: #fecdd3;
}

.reset-game:active {
	background-color: #fb7185;
}

.title-tac {
	grid-column: 1 / 3;
	justify-self: center;
}

/* -------------------------------------------------- */
/* GENERAL STYLES AND RULES */
.visible-none {
	visibility: hidden;
	opacity: 0;
}

.display-none {
	display: none;
}

.relative {
	position: relative;
}
